.nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: rgba(106, 178, 238, 0.925);
    padding: 10px;
    margin-bottom: 0;
}

.nav-bar a{
    text-decoration: none;  /* remove underline */
    color: black; 
}