
.user-main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid black;
    gap: 5px;
    background-color:white

}

.user-card{
    
    display: flex;
    justify-content: start;
    gap: 20px;
    padding: 10px;
    position: relative;
}

.user-card h5{
    margin-left: 10px;
}

.user-card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15px;   /* gap from left edge */
    right: 15px;  /* gap from right edge */
    height: 1px;  /* thickness of line */
    background-color: black;
}

.dept{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 10px;
    border-bottom: 1px solid black;
    
    
}

.dept h5,h6{
    margin: 1px;
}


.personal{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    box-shadow:0 2px 10px rgba(0, 0, 0, 0.452);
    width: 400px;
}

.personal h5{   
    margin: 1px;
}

.details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    
}